<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Start the Rental Process</h1>
    </header>
    
    <div class="container">
        <div class="property-info">            
            <div class="property-details">
                <p>Property: 2 Bed Flat, City View ,IG1</p>
                <h4>To streamline your rental process and ensure a smooth and quick experince, we recommend completing this Instant verification step</h4>
                <div class="actions">
                    <button class="btn-action" onclick="window.location.href='{{ url_for('instant_verification') }}';">Instant Verify</button>
                    <a href="#" class="btn-action">Normal Verify</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
