<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instant Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="verify-container">
        <h2>Welcome to Natwest Instant Verification Page</h2>
        <a href="{{ url_for('new_customer') }}" class="btn-action">Aspiring Natwest Customer</a>
        <a href="{{ url_for('existing_customer') }}" class="btn-action">Existing Natwest Customer</a>
    </div>
</body>
</html>
